<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Input the employee details here...</h5>
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Employee Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="fname" id="fname"  placeholder="First Name"/>
                  <input type="text" class="form-control" name="lname" id="lname"  placeholder="Last Name"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Accolite ID</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-id-card fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="accoId" id="accoId"  placeholder="Enter Accolite ID"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter e-mail"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contact</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="contact" id="contact"  placeholder="Enter contact"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">MS ID</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-id-card fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="msId" id="msId"  placeholder="Enter MS ID"/>
								</div>
							</div>
            </div>
            
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Vendor Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-male fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="vendorName" id="vendorName"  placeholder="Enter vendor name"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <label for="confirm" class="cols-sm-2 control-label">Division</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-briefcase fa-lg" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="division" id="division"  placeholder="Enter division"/>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Office Location</label>
                    <div class="cols-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building fa-lg" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="officeLocation" id="officeLocation"  placeholder="Enter office location"/>
                      </div>
                    </div>
                  </div>

						<div class="form-group ">
							<a href='/usersPage' type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</body>