
        <div class="grad"></div>
        <img [src]="logoImagePath" width="25%" height="25%" align="top">
		<div class="header">
            
            <br/>
            
			<div>Fur<span>lough</span></div> <br/><br/>
            <div><span>Manage</span>ment</div>
        </div>
		<br>
		<div class="login">
                <div class="login-wrap">
                        <div class="login-html">
                            <input id="tab-1" type="radio" name="tab" class="sign-in"  checked><label for="tab-1" class="tab" style="cursor: pointer;">Sign In</label>
                            <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab" style="cursor: pointer;">Forgot Password?</label>
                            <div class="login-form">
                                <div class="sign-in-htm">
                                    <div class="group">
                                        <input class="input" type="text" placeholder="Username" required [(ngModel)]="userLogin.email">
                                    </div>
                                    <div class="group">
                                        <input class="input" type="password" placeholder="Password" required [(ngModel)]="userLogin.password">
                                    </div>
                    
                            <div class="group">
                                        <input type="submit" class="button" value="Sign In" (click)="onSubmit()">
                                    </div>
                                    
                                    <div *ngIf="!errorMessage" class="alert alert-danger">
                                        <div style="color: aliceblue">
                                          Invalid username or passsword!
                                        </div>
                                    </div>

                                    <div class="hr"></div>
                                    <div class="foot-lnk" *ngIf="errorMessage">
                                        Hope you are having a good day!
                                    </div>
                                </div>
                                <div class="sign-up-htm">
                                    <div class="group">
                                        <label for="user" class="label">eMail</label>
                                        <input id="user" type="text" class="input">
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Send Password">
                                    </div>
                                    <div class="hr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>