<body class="sidebar-is-expanded">
        <header class="l-header">
          <div class="l-header__inner clearfix">
            
            <div class="c-search">
              <input class="c-search__input u-input" placeholder="Search by name or ID..." type="text" [(ngModel)]="term"/>
            </div>

            <div class="header-icons-group">
              <div class="c-header-icon"><i class="fa fa-search"></i></div>
            </div>

            <div class="header-icons-group">
              <div class="c-header-icon logout" (click)="logout()">Logout&nbsp;&nbsp;<i class="fa fa-power-off"></i></div>
            </div>
          
          </div>
        </header>
        <div class="l-sidebar">
          <div class="logo">
            <a href='/welcomePage'><div class="logo__txt">Furlough Management</div> </a>
          </div>
          <div class="l-sidebar__content">
            <nav class="c-menu js-menu">
              <ul class="u-list">
                    <a href='/uploadPage'><li class="c-menu__item has-submenu" data-toggle="tooltip" title="Proposals">
                  <div class="c-menu__item__inner"><i class="fa fa-file-text-o"></i>
                    <div class="c-menu-item__title"><span>Upload data</span></div>
                  </div>
                </li></a>
                
                <a href='/usersPage'><li class="c-menu__item has-submenu" data-toggle="tooltip" title="Accounts">
                        <div class="c-menu__item__inner"><i class="fa fa-address-book-o"></i>
                          <div class="c-menu-item__title"><span>Users</span></div>
                        </div>
                      </li></a>
                
                <a href='/logsPage'><li class="c-menu__item has-submenu" data-toggle="tooltip" title="History">
                  <div class="c-menu__item__inner"><i class="fa fa-history"></i>
                    <div class="c-menu-item__title"><span>Request Logs</span></div>
                  </div>
                </li></a>
                
              </ul>
            </nav>
          </div>
        </div>
      </body>
    <main class="l-main">
        <div style="position:absolute; left:150px; top:30px;"> 
            <div class="content-wrapper content-wrapper--with-bg">
                    <h1>User List</h1>
                    <!-- <button (click)="gotoNewUserPage()">Add new employee</button> -->
                    <h3>&nbsp;&nbsp;MS ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Employee Name
                    </h3>
                <nav id="user-nav">
                  <ul class="rolldown-list" id="mylist">
                    <li *ngFor="let userComponent of users |filter:term"
                      [class.selected]="userComponent === selectedUser"
                      (click)="onSelect(userComponent)">
                      {{userComponent.msid}} &nbsp;&nbsp;&nbsp;&nbsp;  {{userComponent.resourceName}}
                    </li>
                  </ul>
                </nav>
                <div *ngIf="selectedUser">
                
                <h2>Details of {{selectedUser.resourceName}}</h2>
                <div><label>ID: </label>&nbsp; {{selectedUser.msid}}</div>
                <div>
                    <label>Name: </label>&nbsp; {{selectedUser.resourceName}}
                </div>
                <div>
                    <label>Vendor Name: </label>&nbsp; {{selectedUser.vendorName}}
                </div>
                <div>
                    <label>Division: </label>&nbsp; {{selectedUser.division}}
                </div>
                <div>
                    <label>Office Location: </label>&nbsp; {{selectedUser.officeLocation}}
                </div>
                <div>
                    <label>Accolite ID: </label>&nbsp; {{selectedUser.accoliteEmployee}}
                </div>
                </div>        
            </div>
        </div>
    </main>